@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    padding: 0;
    list-style: none;
    margin: 0;
}

body {
    font-family: Poppins;
    background-image: linear-gradient(to right, #be0cff, #11c8e4);
    color: #fff;

    display: grid;
    place-items: center;
    height: 100vh;
}

p {
    font-weight: 400;
}

