@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@400;600;800&family=Roboto+Mono:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    transition: 0.4s;
}

/* NAVIGATION */
nav {
    display: flex;
    justify-content: space-between;
}
nav h1 {
    font-family: "DM Serif Display";
    font-weight: 800;
}

.toggle-container {
    border: 1px solid black;
    height: 2rem;
    width: 6rem;
    border-radius: 20px;

    position: relative;
    /* transition-time */
    transition: all 0.4s;
}

.toggle-switch {
    height: 1.9rem;
    width: 1.9rem;
    border-radius: 50%;
    background: rgba(0, 0, 255, 0.194);
    z-index: 5;
    position: absolute;
}

.toggle-switch:hover {
    cursor: pointer;
}

.dark-mode-color {
    background-color: #4600ea;
    color: #fff;
    
}