@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Noto+Sans:wght@400;600&family=Poppins:wght@400;600;800&family=Roboto+Mono:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --container-width: 85%;
    --dark-mode-color: #222223;
    --green-background: #02ff3d;
    --font-size: 1.5rem;
    --font-size-large: 3rem;
    --padding-left: 2rem;
    --border-left: 0.3rem solid
}

body {
    transition: 0.4s;
    width: var(--container-width);
    margin: 0 auto;
}

a {
    color: inherit;
}


.hidden {
    opacity: 0;
    transition: all 0.4s;
    transform: translateX(-5%);
}

.show {
    opacity: 1;
    transition: all 0.4s;
    transform: translateX(0); 
}

/* NAVIGATION */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
}
nav h1 {
    font-family: "DM Serif Display";
    font-weight: 800;
}

nav p {
    font-family: "Poppins";
    font-weight: 600;
}

/* Toggle switch */

.toggle-container {
    height: 2rem;
    width: 5rem;
    border-radius: 20px;

    position: relative;
    /* transition-time */
    transition: all 0.4s;
    background-color: rgb(123, 123, 123);
}

.toggle-switch {
    height: 1.5rem;
    width: 1.5rem;
    left: 5px; 
    bottom: 4px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    display: inline;
    transition: all 0.4s;
}

.toggle-switch:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px #1f1f1f);
}

.sliding-animation {
    transform: translateX(3rem);
}

.dark-mode-color {
    background-color: var(--dark-mode-color);
    color: #fff;
}

.green-background {
    background-color: var(--green-color);
    background-color: #02ff3d;
}

/* HEADING */
.heading {
    margin-top: 7rem;
    line-height: 1;
    width: 85%;
    padding-left: var(--padding-left);
    border-left: var(--border-left) ;
}
.heading h1, .heading p{
    font-family: "Poppins";
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.heading h1 {
    font-size:4.5rem;
}

.heading p {
    font-size: 2rem;
    font-weight: 200;
    background: -webkit-linear-gradient(-180deg, #00ff87, #60efff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* CREATED BY */
.created-by {
    margin-top: 15rem;
    font-family: "Poppins";
}
.created-by p {
    font-size: var(--font-size);
    /* transition property */
    transition-delay: 200ms;
}

.created-by h1 {
    font-size: var(--font-size-large);
    font-weight: 600;
    font-size: 72px;
    background: -webkit-linear-gradient(-180deg, #ce81d8, #4c00ff, #ce81d8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* transition property */
    transition-delay: 300ms;
}

.icon-and-heading {
    display: flex;
    color: inherit;
}


@media screen and (max-width: 600px) {
    .created-by {
        margin-top: 5rem;
    }
}