@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@400;600;800&family=Roboto+Mono:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --container-width: 85%;
    --dark-mode-color: #4600ea;
    --green-background: #02ff3d;
}

body {
    transition: 0.4s;
    width: var(--container-width);
    margin: 0 auto;
}

/* NAVIGATION */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
}
nav h1 {
    font-family: "DM Serif Display";
    font-weight: 800;
}

nav p {
    font-family: "Poppins";
    font-weight: 600;
}

/* Toggle switch */

.toggle-container {
    height: 2rem;
    width: 5rem;
    border-radius: 20px;

    position: relative;
    /* transition-time */
    transition: all 0.4s;
    background-color: rgb(123, 123, 123);
}

.toggle-switch {
    height: 1.5rem;
    width: 1.5rem;
    left: 3px; 
    bottom: 4px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    display: inline;
    transition: all 0.4s;
}

.toggle-switch:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px #1f1f1f);
}

.sliding-animation {
    transform: translateX(3rem);
}

.dark-mode-color {
    background-color: var(--dark-mode-color);
    color: #fff;
}

.green-background {
    background-color: var(--green-color);
    background-color: #02ff3d;
}